.profile-img-hder {
    height: 44px;
    width: 44px;
    border-radius: 50px;
    overflow: hidden;
}

.profile-img-hder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.no-btn-style {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
}

.dt-zro_xbx {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #A09DB1;
    margin-left: 5px;
}

.pl-10 {
    padding-left: 10px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.no-pointer {
    pointer-events: none;
}

.bdash-pro-t {
    margin-top: 70px;
}

.bdash-pro-t .profile-avat {
    margin: 0;
}

.bdash-pro-t .prfile-whdo {
    color: #6B687B;
    font-size: 16px;
}

.pl-25 {
    padding-left: 25px;
}

.mr-25 {
    margin-right: 25px !important;
}

.mp-xb {
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.09);
    border-radius: 9px;
    background-color: #FFFFFF;
    padding: 30px 35px;
    margin-top: 70px;
}

.mt-10 {
    margin-top: 10px;
}

.view-icon-bhcs {
    color: #A09DB1;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.view-icon-bhcs svg {
    margin-right: 10px;
}

.mp-num-xbx {
    color: #3D3B49;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
}

.fh-mpa-wsvg {
    color: #272838;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.fh-mpa-wsvg svg {
    margin-right: 10px;
}

.list_box-df {
    background: #FFFFFF;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.09);
    border-radius: 9px;
    padding: 20px;
    margin-top: 10px;
}

.lb-df-rd {
    border-radius: 9px;
    overflow: hidden;
}

.lb-df-rd img {
    height: 100%;
    width: 100%;
}

.bralb-ced {
    border: 1px solid #272838;
    border-radius: 90px;
    padding: 7px 18px;
    width: fit-content;
}

.bralb-name {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.brab-lg {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    color: #A09DB1;
}

.brab-latxt {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    color: #1ED599;
}

.flex-bteen-ced {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
    min-height: 150px;
}


.sect-evw {
    position: relative;
    background-color: #E4E5F2;
    border-radius: 3px;
    padding: 8px 10px;
    width: 100%;
    border: none;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.025em;
}

.cclp-pedqwvr {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    color: #A09DB1;
}

.profile-tab-ki {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    max-width: 250px;
    position: absolute;
    transform: translateY(-3000px);
    right: 20px;
    top: 75px;
    transition: .5s;
    width: 100%;
}

.profile-tab-ki.show {
    transform: translateY(0) !important;
}

.profile-tab-ki ul {
    padding: 20px 20px 15px 20px;
}

.profile-tab-ki ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #E4E5F2;
    display: flex;
    align-items: center;
    color: #6B687B;
}

.profile-tab-ki ul li:nth-last-child(-n+1) {
    border-bottom: none !important;
}

.profile-tab-ki ul li:hover {
    color: #1ED599;
}

.profile-tab-ki ul li a {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 15px;
    text-indent: 30px;
    line-height: 24px;
}

.w-100 {
    width: 100%;
}

.mr-0 {
    margin-right: 0;
}

.notification-tb-ki {
    max-width: 350px;
}

.a-ti-zro a {
    text-indent: 0 !important;
}

.notfi-li img {
    height: 50px;
    width: 90px;
}

.pgram-notfi {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 13px;
    margin-left: 10px;
    line-height: 17px;
    letter-spacing: -0.025em;
    color: #272838;
}

.pgram-notfi span {
    color: #A09DB1;
}

.bt-gayloc {
    border-top: 2px solid #E4E5F2;
}

.bg-greey {
    background-color: #E4E5F2 !important;
}

.border-greey {
    border-color: #E4E5F2 !important;
}

.galc_aher {
    list-style: none;
    padding-left: 0;
}

.galc_aher li {
    margin-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.galc_aher li a {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.mb-20 {
    margin-bottom: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.wprf-mig {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
}

.wprf-mig img {
    height: 100%;
    width: 100%;
}

.wprf-igm {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #272838;
}

.wprf-hfiv {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.025em;
    color: #A09DB1;
}

.wprf-tb-stion {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 10px;
}

.wprf-nbtps button {
    background-color: transparent;
    border: 2px solid #FAC458;
    border-radius: 5px;
    padding: 9px 18px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.025em;
    color: #272838;
}

.wprf-nbtps button svg {
    margin-right: 7px;
}

.bg-lowy {
    background-color: #FAC458 !important;
}

.blbls-cdrs {
    border-top: 2px solid #E4E5F2;
    padding-top: 30px;
    padding-bottom: 30px;
}

.srd-lbel {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 10px;
    line-height: 36px;
    color: #3D3B49;
}

.service-list-caso {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.srd-vule {
    white-space: break-spaces;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.wdinsp-caso {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.025em;
    color: #272838;
    list-style: none;
    padding-left: 0;
}

.ispr-dinh {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.025em;
    color: #3D3B49;
    margin-bottom: 15px;
}

.isp-scaes {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.cw-b-rwap {
    visibility: hidden;
}

.atacbox-opio:hover .cw-b-rwap {
    visibility: visible;
}

.atacbox-opio {
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: url('/assets/pointer/hand.png'), auto;
}

.atacbox-opio img {
    height: 100%;
    width: 100%;
}

.cw-b-rwap {
    background: #272838;
    opacity: 0.95;
    box-shadow: 0px 5px 0px rgba(39, 40, 56, 0.12);
    border-radius: 5px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    left: 0;
}

.rf-nowname {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}

.cpi_gyi {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.025em;
    color: #A09DB1;
    display: flex;
    align-items: center;
}

.cpi_gyi input {
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

.blbs-ndib {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.025em;
    color: #6B687B;
}

.blsb-iwo {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.font-s-20 {
    font-size: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.nfhbu_life {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #6B687B;
}

.nd_opui {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #6B687B;
}

.mile-name-pp {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.mile-mount-pp {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.025em;
    color: #3D3B49;
}

.mile-date-pp {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.025em;
    color: #6B687B;
}

.pra_klopi {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #A09DB1;
}

.mt-40 {
    margin-top: 40px;
}

.ridate-pflifes {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 10px;
    line-height: 36px;
    color: #3D3B49;
}